[submodule "repo/skins/embuary"]
	path = repo/skins/embuary
	url = https://github.com/sualfred/skin.embuary.git
[submodule "repo/sports/team-crew"]
	path = repo/sports/team-crew
	url = https://github.com/team-crew/team-crew.github.io.git
[submodule "repo/sports/bugatsinho"]
	path = repo/sports/bugatsinho
	url = https://github.com/bugatsinho/bugatsinho.github.io.git
